[submodule "pybpod-api"]
	path = pybpod-api
	url = https://bitbucket.org/fchampalimaud/pybpod-api.git
[submodule "pybpod-gui-api"]
	path = pybpod-gui-api
	url = https://bitbucket.org/fchampalimaud/pybpod-gui-api.git
[submodule "pybpod-gui-plugin"]
	path = pybpod-gui-plugin
	url = https://bitbucket.org/fchampalimaud/pybpod-gui-plugin.git
[submodule "pybpod-gui-plugin-session-history"]
	path = pybpod-gui-plugin-session-history
	url = https://bitbucket.org/fchampalimaud/pybpod-gui-plugin-session-history.git
[submodule "pybpod-gui-plugin-timeline"]
	path = pybpod-gui-plugin-timeline
	url = https://bitbucket.org/fchampalimaud/pybpod-gui-plugin-timeline.git
[submodule "pybpod-rotary-encoder-module"]
	path = pybpod-rotary-encoder-module
	url = https://bitbucket.org/fchampalimaud/pybpod-rotary-encoder-module.git
[submodule "pyforms-generic-editor"]
	path = pyforms-generic-editor
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pyforms-generic-editor.git
[submodule "pyforms"]
	path = pyforms
	url = https://github.com/UmSenhorQualquer/pyforms.git
[submodule "pysettings"]
	path = pysettings
	url = https://github.com/UmSenhorQualquer/pysettings.git
[submodule "logging-bootstrap"]
	path = logging-bootstrap
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/logging-bootstrap.git
[submodule "pybranch"]
	path = pybranch
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pybranch.git
[submodule "safe-collaborative-architecture"]
	path = safe-collaborative-architecture
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/safe-collaborative-architecture.git
[submodule "pybpod-gui-plugin-oldformat"]
	path = pybpod-gui-plugin-oldformat
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pybpod-gui-plugin-oldformat.git
[submodule "pge-plugin-terminal"]
	path = pge-plugin-terminal
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pge-plugin-terminal.git
